

<article class = "Sign-up">
    <div class="container mt-5">
    <header>
        <h1 class = "Signup-heading">
            Edit Profile
        </h1>
    </header>
    <div class="row">
    <div class="col-sm-8">
    <div class="card">
    <div class="card-body">
    {{!-- <form action = "/shop/edit/{{userId._id}}" method ="POST" id = "edit-form"> --}}

    
    <form method ="POST" id = "edit-form" action = "/shop/edit/shop/{{userId._id}}?_method=PUT">

        <input type="hidden" name="_method" value="PUT">
    <div class="form-group"></div>
    <label class = "user-text" for = "shopName">
            Shop Name:
        </label>
        <input name = "ShopName" id = "shopName" type = "text" value="{{userId.ShopName}}">
        <br>
        </div>
        <div class="form-group">
        <label class = "user-text" for = "username">
            User Name : 
        </label>
        <input name = "username" id = "username" type = "text" value = "{{userId.username}}">
        <br>
        </div>
        <div class="form-group">
        <label class = "user-text" for = "ownerFirstname">
            First Name:
        </label>
        <input name = "ownerFirstname" id = "ownerFirstname" type = "text" value = "{{userId.ownerFirstname}}">
        <br>
        </div>
        <div class="form-group">
        <label class = "password-text" for = "ownerLastname">
            Last Name :
        </label>
        <input name = "ownerLastname" id = "ownerLastna`me" type = "text" value = "{{userId.ownerLastname}}">
        <br>
        </div>
        <div class="form-group">
        <label class = "password-text" for = "Address">
            Address :
        </label>
        <input name = "Address" id = "Address" type = "text" value = "{{userId.Address}}">
        <br>
        </div>
        <div class="form-group">
        <label class = "password-text" for = "email">
            Email :
        </label>
        <input name = "email" id = "email" type = "email" value = "{{userId.email}}">
        <br>
        </div>
        <div class="form-group">
        <label class = "password-text" for = "pincode">
            Pincode :
        </label>
        <input name = "pincode" id = "pincode" type = "number" value = "{{userId.pincode}}">
        <br>
        <div class="form-group">
        <label class = "password-text" for = "phoneNumber">
            Phone number :
        </label>
        <input name = "phoneNumber" id = "phoneNumber" type = "number" value = "{{userId.phoneNumber}}">
        <br>
        <br>
        </div>
        {{!-- <input name = "_method" hidden value = "PUT">  --}}
        <button type="submit" class="btn btn-dark">Update</button>
    </form>
    {{#if error}}
    <p class = "error">{{error}}</p>
    {{/if}}
<p id = "success-edit" hidden>Account upadted successfully</p>
<p id = "suser-error" hidden>Either the username or password is incorrect</p>
</div>
</div>
</div>
</div>
</div>
</article>

