<header>  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
          
                <!-- <a class="navbar-brand" href="#page-top">S-Mart</a> -->
                <a href="#page-top"><img class="logo-img" src="/public/Aishwarya/Shoppage/images/S-Mart-logos.jpeg" width="90" height="90" ALT="align box" ALIGN=CENTER ></a>
               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">      
                      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>        
                        <li class="nav-item"><a class="nav-link" href="/shop/login">Shopkeeper</a></li>
                        <li class="nav-item"><a class="nav-link" href="/users/login">Customer</a></li>
                        <li class="nav-item"><a class="nav-link" href="/shop/allProduct">Product</a></li>
                    </ul>
               
            </div>
        </nav>

</header>

<div class="container mt-5">
  <h4>Login</h4>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/users/signup" method="POST" id="usersignup-form">
            <div class="form-group">
              <label for="email">Email</label>
    <input type="email" class="form-control" placeholder="Enter Email" name="email" id="useremail" value="{{user.email}}"required >
            </div>
            <div class="form-group">
              <label for="Password">Password</label>
   <input type="password" class="form-control" placeholder="Enter Password" name="password" id="password" value="{{user.password}}"  required>
            </div>
            <div class="form-group">
              <label for="firstname">firstname</label>
   <input type="text" class="form-control" placeholder="Enter firstname" name="firstname" id="userfirstname" value="{{user.firstname}}" required>
             </div>
            <div class="form-group">
              <label for="lastname">lastname</label>
   <input type="text" class="form-control" placeholder="Enter lastname" name="lastname" id="userlastname" value="{{user.lastname}}"  required>
            </div>
            <div class="form-group">
              <label for="address">address</label>
    <input type="text" class="form-control" placeholder="Enter address" name="address" id="useraddress" value="{{user.address}}" required>
            </div>

            <div class="form-group">
              <label for="city">city</label>
  <input type="text" class="form-control" placeholder="Enter city" name="city" id="usercity" value="{{user.city}}" required>
            </div>
             <div class="form-group">
              <label for="zipcode">zipcode</label>
  <input type="text" class="form-control" placeholder="Enter zipcode" name="zipcode" id="userzipcode" pattern="[0-9]{5}" value="{{user.zipcode}}"required>
         </div>
            <button type="submit" class="btn btn-dark">Login</button>
          </form>
 <a href="/users/login">have an account? Click here to  Signin</a>
 <div id="errorDiv"  ><p>{{message}}</p>
        </div>
      </div>
    </div>

 

  </div>

</div>

{{!-- <body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Hello Customer!</h2>
                    <h2 class="title">Please fill in below Signup Form</h2> 
                    <form method="POST">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="form-group">
              <label for="email">Email</label>
             	<input class="input100" type="email" id= "email" class="form-control" name="email" placeholder="email">
            </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">last name</label>
                                    <input class="input--style-4" type="text" name="last_name">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <input class="input--style-4" type="email" name="email">
                                </div>
                        <div class="row row-space">
                                    <div class="col-3">
                                        <div class="form-group">
              <label for="password">Password</label>
		<input class="input100" type="password" id="password" class="form-control" name="password" placeholder="password">
            </div>
                        <div class="row row-space">
                                            <div class="col-5">
                                                <div class="input-group">
                                                    <label class="label">address</label>
                                                    <input class="input--style-4" type="address" name="address">
                                                </div>
                        <div class="row row-space">
                                                    <div class="col-6">
                                                        <div class="input-group">
                                                            <label class="label">city</label>
                                                            <input class="input--style-4" type="city" name="city">
                                                        </div>
                        <div class="row row-space">
                                                            <div class="col-7">
                                                                <div class="input-group">
                                                                    <label class="label">Zipcode</label>
                                                                    <input class="input--style-4" type="Zipcode" name="Zipcode">
                                                                </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                        </div>
                    </form>
 
					<a href="/users/signup/login" class="txt2 hov1">
						Already have an Account, Login here
					</a>

                </div>
            </div>
        </div>
    </div>


</body>

</html>
<!-- end document--> --}}