  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <!-- <a class="navbar-brand" href="#page-top">S-Mart</a> -->
                <a href="#page-top"><img class="logo-img" src="/public/Aishwarya/Shoppage/images/S-Mart-logos.jpeg" width="90" height="90" ALT="align box" ALIGN=CENTER ></a>
               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">              
                        <li class="nav-item"><a class="nav-link" href="#ContactUs">Contact Us</a></li>
                        <li class="nav-item"><a class="nav-link" href="/users/profiledetail">Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="/users/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
<form action="/users/updateprofile/{{user.id}}" id="update_user_profile" method="post">

        <br><br><br><br><br><br><br><br><br><br>
    </div>
<label for="firstname"><b>firstname</b></label>
    <input type="text" placeholder="Enter firstname" name="firstname" id="userfirstname"  value="{{user.firstName}}"  >
    <br>
    <label for="lastname"><b>lastname</b></label>
    <input type="text" placeholder="Enter lastname" name="lastname" id="userlastname" value="{{user.lastname}}"  >
    <br>
    <label for="address"><b>address</b></label>
    <input type="text" placeholder="Enter address" name="address" id="useraddress" value="{{user.address}}"  >
    <br>
    <label for="city"><b>city</b></label>
    <input type="text" placeholder="Enter city" name="city" id="usercity" value="{{user.city}}" >
    <br>
    <label for="zipcode"><b>zipcode</b></label>
    <input type="text" placeholder="Enter zipcode" name="zipcode" id="userzipcode" pattern="[0-9]{5}" value="{{user.zipcode}}" >
  <div id="errorDiv"  > <p>{{message}}</p>
    <button type="submit" name="editbtn" id="editbtn">update</button>
  
</form>